<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="WebSite Template"/>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="author" content="okler.net"/>
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"/> <!-- Web Fonts  -->
    <link
      id="googleFonts"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/animate/animate.compat.css"/>
    <link rel="stylesheet" href="../assets/vendor/simple-line-icons/css/simple-line-icons.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/owl.carousel/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/magnific-popup/magnific-popup.min.css"/>
    <link rel="stylesheet" href="../assets/css/theme.css"/>
    <link rel="stylesheet" href="../assets/css/theme-elements.css"/>
    <link rel="stylesheet" href="../assets/css/theme-blog.css"/>
    <link rel="stylesheet" href="../assets/css/theme-shop.css"/>
    <link rel="stylesheet" href="../assets/css/demos/demo-business-consulting-4.css"/>
    <link id="skinCSS" rel="stylesheet" href="../assets/css/skins/skin-business-consulting-4.css"/>
    <link rel="stylesheet" href="../assets/css/custom.css"/>
  </head>
  <body>
    <div class="body">
      <header
        id="header"
        class="header-transparent"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false,
          'stickyChangeLogo': false, 'stickyStartAt': 53, 'stickySetTop': '-53px'}">
        <div class="header-body border-top-0 h-auto box-shadow-none">
          <div class="header-top header-top-borders">
            <div class="container h-100">
              <div class="header-row h-100">
                <div class="header-column justify-content-start">
                  <div class="header-row">
                    <nav class="header-nav-top">
                      <ul class="nav nav-pills">
                        <li class="nav-item py-2 d-none d-sm-inline-flex pe-2">
                          <span class="ps-0 font-weight-semibold text-color-default text-2-5">1234 Street Name, City Name</span>
                        </li>
                        <li class="nav-item py-2 pe-2">
                          <a href="tel:123-456-7890" class="text-color-default text-2-5 text-color-hover-primary font-weight-semibold">
                            123-456-7890</a>
                        </li>
                        <li class="nav-item py-2 d-none d-md-inline-flex">
                          <a href="mailto:mail@domain.com" class="text-color-default text-2-5 text-color-hover-primary font-weight-semibold">
                            mail@domain.com</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="header-column justify-content-end">
                  <div class="header-row">
                    <nav class="header-nav-top">
                      <ul class="nav nav-pills p-relative bottom-2">
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="http://www.facebook.com/"
                            target="_blank"
                            title="Facebook"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-facebook-f text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="http://www.twitter.com/"
                            target="_blank"
                            title="Twitter"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-twitter text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="http://www.instagram.com/"
                            target="_blank"
                            title="Instagram"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-instagram text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 pe-0 d-none d-lg-inline-flex">
                          <a
                            href="http://www.linkedin.com/"
                            target="_blank"
                            title="Linkedin"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-linkedin-in text-3 p-relative top-1"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-container header-container-height-sm container p-static">
            <div class="header-row">
              <div class="header-column">
                <div class="header-row">
                  <div class="header-logo">
                    <a href="/">
                      <img alt="Porto" width="123" height="32" src="../assets/img/demos/business-consulting-4/logo.png"/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="header-column justify-content-end">
                <div class="header-row">
                  <div class="header-nav header-nav-links">
                    <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-border-radius
                        header-nav-main-text-capitalize header-nav-main-text-size-4 header-nav-main-arrows header-nav-main-full-width-mega-menu
                        header-nav-main-mega-menu-bg-hover header-nav-main-effect-2">
                      <nav class="collapse">
                        <ul class="nav nav-pills" id="mainNav">
                          {% for item in nav %}
                            <li class="dropdown">
                              <a href="{{ item.url }}" class="nav-link {{ " dropdown-toggle" if item.children.length > 0 }}">
                                {{ item.title }}
                              </a>
                              {% if item.children %}
                                <ul class="dropdown-menu">
                                  {% for child in item.children %}
                                    <li>
                                      <a href="{{ child.url }}" class="dropdown-item">{{ child.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </nav>
                    </div>
                    <a
                      href="demo-business-consulting-4-contact-us.html"
                      class="btn btn-modern btn-primary btn-outline btn-arrow-effect-1 text-capitalize text-2-5 ms-3 me-2 d-block d-md-none
                        d-xl-block anim-hover-translate-right-5px transition-2ms">
                      Contact Us
                      <i class="fas fa-arrow-right ms-2"></i>
                    </a>
                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                      <i class="fas fa-bars"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div role="main" class="main">
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>