---
email: "admin@taakconsulting.net"
phone: "+1 678 835 8328"
linkedin: "https://www.linkedin.com/company/taak-consulting-llc/"
instagram: "https://www.instagram.com/taak_cpas/"
twitter: "https://twitter.com/Taaktaxadvisory"
address: "3133 Little Bear Ln, Buford, GA 30519"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="Tax, Accounting, Consulting, Advisory, KPI, Tax Consulting, Accounting, Bookeeping, Tax Compliance"/>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="author" content="shiftforward.io"/>
    <meta name="title" content="{{ metaTitle }}"/>
    <link rel="icon" type="img/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png"/>
    <link rel="icon" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png"/>
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"/> <!-- Web Fonts  -->
    <link
      id="googleFonts"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/animate/animate.compat.css"/>
    <link rel="stylesheet" href="/assets/vendor/simple-line-icons/css/simple-line-icons.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.min.css"/>
    <link rel="stylesheet" href="/assets/css/theme.css"/>
    <link rel="stylesheet" href="/assets/css/theme-elements.css"/>
    <link rel="stylesheet" href="/assets/css/theme-blog.css"/>
    <link rel="stylesheet" href="/assets/css/theme-shop.css"/>
    <link rel="stylesheet" href="/assets/css/demos/demo-business-consulting-4.css"/>
    <link id="skinCSS" rel="stylesheet" href="/assets/css/skins/skin-business-consulting-4.css"/>
    <link rel="stylesheet" href="/assets/css/custom.css"/>
  </head>
  <body>
    <div class="body">
      <header
        id="header"
        class="header-transparent"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false,
          'stickyChangeLogo': false, 'stickyStartAt': 53, 'stickySetTop': '-53px'}">
        <div class="header-body border-top-0 h-auto box-shadow-none">
          <div class="header-top header-top-borders">
            <div class="container h-100">
              <div class="header-row h-100">
                <div class="header-column justify-content-start">
                  <div class="header-row">
                    <nav class="header-nav-top">
                      <ul class="nav nav-pills">
                        <li class="nav-item py-2 pe-2">
                          <span class="ps-0 font-weight-semibold text-color-default text-2-5">{{ address }}</span>
                        </li>
                        <li class="nav-item py-2 pe-2">
                          <a href="tel:{{ phone }}" class="text-color-default text-2-5 text-color-hover-primary font-weight-semibold">
                            {{ phone }}</a>
                        </li>
                        <li class="nav-item py-2 d-none d-md-inline-flex">
                          <a href="mailto:{{ email }}" class="text-color-default text-2-5 text-color-hover-primary font-weight-semibold">
                            {{ email }}</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="header-column justify-content-end">
                  <div class="header-row">
                    <nav class="header-nav-top">
                      <ul class="nav nav-pills p-relative bottom-2">
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="#"
                            target="_blank"
                            title="Facebook"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-facebook-f text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="{{ twitter }}"
                            target="_blank"
                            title="Twitter"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-twitter text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 d-none d-lg-inline-flex">
                          <a
                            href="{{ instagram }}"
                            target="_blank"
                            title="Instagram"
                            class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-instagram text-3 p-relative top-1"></i>
                          </a>
                        </li>
                        <li class="nav-item py-2 pe-0 d-none d-lg-inline-flex">
                          <a href="{{ linkedin }}" target="_blank" title="Linkedin" class="text-color-dark text-color-hover-primary text-3 anim-hover-translate-top-5px transition-2ms">
                            <i class="fab fa-linkedin-in text-3 p-relative top-1"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-container header-container-height-sm container p-static">
            <div class="header-row">
              <div class="header-column">
                <div class="header-row">
                  <div class="header-logo">
                    <a href="/">
                      <svg
                        id="Layer_2"
                        data-name="Layer 2"
                        width="250"
                        height="100"
                        xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 396.34 148.37">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: #005cff;
                            }
                            .cls-1,
                            .cls-2 {
                              stroke-width: 0;
                            }
                            .cls-3 {
                              font-family: Poppins-Bold, Poppins;
                              font-size: 37.73px;
                              font-weight: 700;
                            }
                            .cls-4 {
                              font-family: Poppins-Regular, Poppins;
                              font-size: 26.38px;
                            }
                          </style>
                        </defs>
                        <g id="Layer_1-2" data-name="Layer 1">
                          <g>
                            <text class="cls-3" transform="translate(184.53 50.57)">
                              <tspan x="0" y="0">TAAK</tspan>
                            </text>
                            <text class="cls-4" transform="translate(186.24 86.02)">
                              <tspan x="0" y="0">Tax Accounting
                              </tspan>
                              <tspan x="0" y="31.66">Advisory KPI</tspan>
                            </text>
                            <rect class="cls-2" x="148.23" width="1.23" height="148.37"/>
                          </g>
                          <g>
                            <g>
                              <path
                                class="cls-1"
                                d="m85.99,121.05c-12.6-5.58-24.29-10.76-36.55-16.19v21.38h-13.02v-21.56c-12.27,5.37-23.86,10.44-36.41,15.93,1.61-3.23,3.02-5.62,4.02-8.17,2.65-6.78,7.06-11.36,14.43-13.84,7.46-2.52,14.45-6.33,21.74-9.36,1.4-.58,3.5-.69,4.86-.11,9.75,4.17,19.43,8.51,29.04,12.97,1.46.68,2.85,2.04,3.64,3.43,2.75,4.8,5.22,9.75,8.26,15.52Z"/>
                              <path
                                class="cls-1"
                                d="m69.02,88.66c-8.28-3.62-15.65-6.72-22.89-10.09-2.37-1.1-4.26-1.18-6.65-.06-6.5,3.05-13.14,5.83-19.74,8.7-.71.31-1.47.51-3.02,1.04,3.18-6.06,5.89-11.49,8.89-16.76.59-1.03,2.24-1.57,3.49-2.16,13.65-6.34,13.69-6.4,27.29.08,1.94.92,3.76,2.7,4.86,4.52,2.67,4.45,4.87,9.15,7.77,14.71Z"/>
                              <path
                                class="cls-1"
                                d="m33.71,55.67c2.86-5.5,5.72-10.99,8.99-17.27,3.29,6.23,6.25,11.85,9.22,17.46-6.02-3.24-11.9-4.02-17.77.76l-.44-.96Z"/>
                            </g>
                            <g>
                              <path
                                class="cls-2"
                                d="m92.82,120.82c-12.6-5.83-24.29-11.24-36.55-16.91v22.33h-13.02v-22.52c-12.27,5.61-23.86,10.9-36.41,16.64,1.61-3.37,3.02-5.87,4.02-8.53,2.65-7.08,7.06-11.86,14.43-14.46,7.46-2.63,14.45-6.61,21.74-9.77,1.4-.61,3.5-.72,4.86-.11,9.75,4.35,19.43,8.89,29.04,13.54,1.46.71,2.85,2.13,3.64,3.58,2.75,5.01,5.22,10.18,8.26,16.21Z"/>
                              <path
                                class="cls-2"
                                d="m75.85,86.99c-8.28-3.78-15.65-7.02-22.89-10.53-2.37-1.15-4.26-1.24-6.65-.06-6.5,3.19-13.14,6.09-19.74,9.09-.71.32-1.47.53-3.02,1.09,3.18-6.33,5.89-12,8.89-17.51.59-1.08,2.24-1.64,3.49-2.25,13.65-6.62,13.69-6.69,27.29.09,1.94.97,3.76,2.82,4.86,4.72,2.67,4.64,4.87,9.56,7.77,15.37Z"/>
                              <path
                                class="cls-2"
                                d="m40.54,52.54c2.86-5.74,5.72-11.48,8.99-18.03,3.29,6.5,6.25,12.37,9.22,18.24-6.02-3.38-11.9-4.2-17.77.79l-.44-1Z"/>
                            </g>
                          </g>
                        </g>
                      </svg>
                      {# <img alt="TAAK" width="250" height="250" src="/assets/img/TAAK-light-logo.svg"/> #}
                    </a>
                  </div>
                </div>
              </div>
              <div class="header-column justify-content-end">
                <div class="header-row">
                  <div class="header-nav header-nav-links">
                    <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-border-radius
                        header-nav-main-text-capitalize header-nav-main-text-size-4 header-nav-main-arrows header-nav-main-full-width-mega-menu
                        header-nav-main-mega-menu-bg-hover header-nav-main-effect-2">
                      <nav class="collapse">
                        <ul class="nav nav-pills" id="mainNav">
                          {% for item in nav %}
                            <li class="dropdown">
                              <a href="{{ item.url }}" class="nav-link {{ " dropdown-toggle" if item.children.length > 0 }}">
                                {{ item.title }}
                              </a>
                              {% if item.children %}
                                <ul class="dropdown-menu">
                                  {% for child in item.children %}
                                    <li>
                                      <a href="{{ child.url }}" class="dropdown-item">{{ child.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </nav>
                    </div>
                    <a
                      href="/contact"
                      class="btn btn-modern btn-primary btn-outline btn-arrow-effect-1 text-capitalize text-2-5 ms-3 me-2 d-none d-sm-block anim-hover-translate-right-5px transition-2ms">
                      Contact Us
                      <i class="fas fa-arrow-right ms-2"></i>
                    </a>
                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                      <i class="fas fa-bars"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div role="main" class="main">
        {{ content | safe }}
      </div>
    </div>
    <footer id="footer" class="position-relative bg-dark border-top-0 mt-0">
      <div class="container pt-5 pb-3">
        <div class="row pt-5">
          <div class="col-lg-4">
            <a href="/" class="text-decoration-none">
              <img src="/assets/img/TAAK-dark-logo.svg" width="200" height="32" class="img-fluid mb-4" alt="TAAK"/>
            </a>
            <p class="font-weight-semibold text-4-5 pe-lg-2 text-color-light text-color-hover-primary">A boutique financial advisory
            </p>
            <ul class="list list-unstyled">
              <li class="d-flex align-items-center mb-4">
                <i class="icon icon-envelope text-color-light text-5 font-weight-bold position-relative top-1 me-3-5"></i>
                <a
                  href="mailto:porto@business-consulting-4.com"
                  class="d-inline-flex align-items-center text-decoration-none text-color-light text-color-hover-primary
                    font-weight-semibold text-4-5">{{ email }}</a>
              </li>
              <li class="d-flex align-items-center mb-4">
                <i class="icon icon-phone text-color-light text-5 font-weight-bold position-relative top-1 me-3-5"></i>
                <a
                  href="tel:{{ phone }}"
                  class="d-inline-flex align-items-center text-decoration-none text-color-light text-color-hover-primary
                    font-weight-semibold text-4-5">{{ phone }}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="row mb-5-5">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <h4 class="text-color-light font-weight-bold mb-3">Navigation</h4>
                <ul class="list list-unstyled columns-lg-2">
                  <li>
                    <a href="/" class="text-color-grey text-color-hover-primary">Home</a>
                  </li>
                  <li>
                    <a href="/about" class="text-color-grey text-color-hover-primary">About Us</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="text-color-grey text-color-hover-primary dropdown-item">Services</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/tax-planning/retirement-planning">Retirement Planning</a></li>
                      <li><a class="dropdown-item" href="/itemized-deductions">Itemized Deductions</a></li>
                      <li><a class="dropdown-item" href="/popular-deductions">Popular Tax Deductions</a></li>
                      <li><a class="dropdown-item" href="/health-savings-accounts">Health Savings Accounts (HSAS)</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/contact" class="text-color-grey text-color-hover-primary">Contact Us</a>
                  </li>
                </ul>
                <ul class="social-icons social-icons-clean social-icons-medium">
                  <li class="social-icons-facebook">
                    <a href="#" target="_blank" title="Facebook">
                      <i class="fab fa-facebook-f text-color-light"></i>
                    </a>
                  </li>
                  <li class="social-icons-twitter">
                    <a href="{{ twitter }}" target="_blank" title="Twitter">
                      <i class="fab fa-twitter text-color-light"></i>
                    </a>
                  </li>
                  <li class="social-icons-instagram">
                    <a href="{{ instagram }}" target="_blank" title="Instagram">
                      <i class="fab fa-instagram text-color-light"></i>
                    </a>
                  </li>
                  <li class="social-icons-linkedin">
                    <a href="{{ linkedin }}" target="_blank" title="Linkedin">
                      <i class="fab fa-linkedin text-color-light"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="col-lg-6"> <h4 class="text-color-light font-weight-bold mb-3">Extra Links</h4> <ul class="list
              list-unstyled columns-lg-2">
                  <li><a href="#" class="text-color-grey text-color-hover-primary">Elements</a></li>
                  <li><a href="#" class="text-color-grey text-color-hover-primary">Portfolio</a></li>
                  <li><a href="#" class="text-color-grey text-color-hover-primary">Careers</a></li>
                  <li><a href="#" class="text-color-grey text-color-hover-primary">Shop Pages</a></li>
                  <li><a href="#" class="text-color-grey text-color-hover-primary">Testimonials</a></li>
              </ul> </div> -->
            </div>
            <!-- <div class="row"> <div class="col">
                <div class="alert alert-success d-none" id="newsletterSuccess">
                  <strong>Success!</strong> You've been added to our email list.
                </div>
                <div class="alert alert-danger d-none" id="newsletterError"></div>
                <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                  <h4 class="text-color-light ws-nowrap me-3 mb-3 mb-lg-0">Subscribe to Newsletter:</h4>
                  <form id="newsletterForm" class="form-style-3 w-100" action="php/newsletter-subscribe.php" method="POST">
                    <div class="d-flex">
                      <input class="form-control bg-color-light border-0 box-shadow-none" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text" />
                      <button class="btn btn-primary ms-2 btn-px-3 btn-py-2 font-weight-bold" type="submit">
                        Go
                      </button>
                    </div>
                  </form>
                </div>
            </div> </div> -->
          </div>
        </div>
      </div>
      <div class="footer-copyright bg-transparent">
        <div class="container">
          <hr class="bg-color-light opacity-1">
          <div class="row">
            <div class="col mt-4 mb-4 pb-5">
              <p class="text-center text-3 mb-0">TAAK © 2024. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Vendor -->
    <script src="/assets/vendor/plugins/js/plugins.min.js"></script>
    <script src="/assets/vendor/particles/particles.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="/assets/js/theme.js"></script>
    <!-- Demo -->
    <script src="/assets/js/demos/demo-business-consulting-4.js"></script>
    <!-- Theme Custom -->
    <script src="/assets/js/custom.js"></script>
    <!-- Theme Initialization Files -->
    <script src="/assets/js/theme.init.js"></script>
    <!-- Search Implementation -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
    <script type="text/javascript" src="/js/search.js" defer></script>
  </body>
</html>