<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="formModalLabel">Get a Quote</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form name="quote" method="POST" data-netlify="true" novalidate="novalidate">
          <input type="hidden" name="subject" value="New quote requested from (%{submissionId})" />
          <div class="row row-gutter-sm">
            <div class="form-group col mb-3">
              <input
                type="text"
                value=""
                data-msg-required="Please enter your Business's name."
                maxlength="100"
                class="form-control"
                name="business-name"
                id="business-name"
                required
                placeholder="Business's Name"
              />
            </div>
          </div>
          <div class="row row-gutter-sm">
            <div class="form-group col mb-3">
              <input type="tel" value="" data-msg-required="Please enter your number." class="form-control" name="phone" id="phone" required placeholder="Your Phone Number" />
            </div>
          </div>
          <div class="row row-gutter-sm">
            <div class="form-group col mb-3">
              <input
                type="email"
                value=""
                data-msg-required="Please enter your email address."
                data-msg-email="Please enter a valid email address."
                maxlength="100"
                class="form-control"
                name="email"
                id="email"
                required
                placeholder="E-mail Address"
              />
            </div>
          </div>
          <div class="row row-gutter-sm">
            <div class="form-group col mb-3">
              <input
                type="text"
                value=""
                data-msg-required="Please enter your nature of business."
                maxlength="100"
                class="form-control"
                name="business-nature"
                id="business-nature"
                required
                placeholder="Nature of Business"
              />
            </div>
          </div>
          <div class="row row-gutter-sm">
            <div class="form-group col mb-3">
              <input
                type="number"
                data-msg-required="Please enter previous financial year revenue"
                min="1"
                step="any"
                class="form-control"
                name="previousFinancialYear"
                id="previousFinancialYear"
                required
                placeholder="Previous financial year revenue in $"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label class="form-label">Accounting Software Used</label>
              <div class="custom-select-1">
                <select class="form-select form-control h-auto py-2" data-msg-required="Please select your Account Software." name="accounting-software" required>
                  <option value="">Choose...</option>
                  <option value="1">QuickBooks</option>
                  <option value="2">Xero</option>
                  <option value="3">NetSuite</option>
                  <option value="3">Zoho</option>
                  <option value="3">Others</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col mb-3">
              <textarea maxlength="5000" data-msg-required="Please enter your message." rows="4" class="form-control" name="message" id="message" required placeholder="Message"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-modern btn-dark btn-arrow-effect-1 text-capitalize anim-hover-translate-top-5px transition-2ms">Submit <i class="fas fa-arrow-right ms-2"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
